<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<title>EADSetup Page: Joel Vincent</title>
</head>

<body>
    
    <h1>Joel Vincent</h1>
    <h2>Personal Background</h2>
    <p>
        My name is Joel Vincent. I am a 4th year Bachelor of Science, Information Technology major with a focus in software development.<br>
        I'm also in the MBA program through the IT ACCEND. 
        I live in Milford, Ohio, and currently commute to work and school. <br>

    </p>
    <h2>Picture of Hobby</h2>
    <img src="res/biking.jpg" alt="Mountain Biking Picture" style="width:1008px; height:490px"><br><br>


</body>
</html>